@use 'abstracts/variables' as * ;

.footer {
    background-color: $couleur-sombre;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 22px 0 5px 25px;

    &__logo {
        font-family: Shrikhand, cursive;
        font-style: italic;
        font-size: 18px;
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__icons {
        font-size: 13px;
    }

    &__link {
        font-size: 16px;
        font-weight: 400;
        color: white;
        text-decoration: none;

        &--icon {
            margin-left: 11px;
            font-weight: 500;
        }
    }
}