@use 'abstracts/variables' as *;
@use 'abstracts/mixin' as *;

.footer {
    background-color: $couleur-sombre;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 22px 0 5px 25px;

    @include tablet {
        flex-direction: row-reverse;
        gap: 16px;
        align-items: center;
        padding: 45px 25px 20px 0;
    }

    &__logo {
        font-family: Shrikhand, cursive;        
        font-size: 18px;

        @include tablet {
            margin-left: 40px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;

        @include tablet {
            flex-direction: row;
            gap: 7px;
        }
    }

    &__icons {
        font-size: 13px;
    }

    &__link {
        font-size: 16px;
        font-weight: 400;
        color: white;
        text-decoration: none;

        &--icon {
            margin-left: 11px;
            font-weight: 500;

            @include tablet {
                margin-left: 5px;
            }
        }

        @include tablet {
            &--margin-left {
                margin-left: 25px;
            }
        }
    }
}