@use 'abstracts/variables' as *;
@use 'abstracts/mixin' as *;

.header {
    display: flex;
    flex-direction: column;

    &__brand {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        box-shadow: $shadow-sm;
        // Position relative: Afficher box-shadow au-dessus de location
        position: relative;
        z-index: 2;

        @include desktop {
            height: 96px;
            box-shadow: none;
        }

        &-logo {
            height: 36px;
        }
    }
}

.header-menu {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 63px;
    width: 100%;

    @include desktop {
        height: 96px;
    }

    &__icon {
        font-size: 16px;
        padding: 16px;
        color: $couleur-sombre;

        &-a {
            justify-self: start;
        }
    }

    &__logo {
        height: 30px;
        width: 100%;
        justify-self: center;
    }
}