@use 'abstracts/variables' as *;

.header {
    display: flex;
    flex-direction: column;

    &__brand {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        box-shadow: $shadow-sm;
        // Position relative: Afficher box-shadow au-dessus de location
        position: relative; 

        &-logo {
            height: 36px;
        }
    }



    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        gap: 17px;
        height: 50px;
        background-color: $couleur-header-background;
        box-shadow: $shadow-md;
        color: $couleur-gris-subtitle;

        &-text {
            font-weight: 500;
        }
    }

}