@use 'abstracts/variables' as *;
@use 'abstracts/mixin' as *;

.header {
    display: flex;
    flex-direction: column;

    &__brand {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        box-shadow: $shadow-sm;
        // Position relative: Afficher box-shadow au-dessus de location
        position: relative;
        z-index: 2;

        @include tablet {
            height: 96px;
            box-shadow: none;
        }

        &-logo {
            height: 36px;
        }
    }
}