@use 'abstracts/variables' as *;
@use 'header';
@use 'footer';
@use 'abstracts/mixin' as *;
@use 'components/loader';

/* Général */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

// Section Localisation
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 17px;
  height: 50px;
  background-color: $couleur-header-background;
  box-shadow: $shadow-md;
  color: $couleur-sombre;
  // Position relative -> pour afficher box-shadow
  position: relative;
  z-index: 1;

  @include desktop {
    box-shadow: none;
  }
}

// Section Hero - Réservez le menu qui vous convient
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $couleur-background;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 39px 10px 0 10px;
    margin-bottom: 57px;
  }

  &__title {
    @include title;
    margin: 0;

    @include desktop {
      font-size: 40px;
      font-weight: 700;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 300;
  }

  &__btn {
    width: 100%;
    padding: 13px 16px;
    @include button;
  }
}

// Section Fonctionnement

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 0 20px 68px 20px;
  margin: 0 auto;
  max-width: 1080px;
  box-sizing: border-box;

  @include desktop {
    padding: 50px 20px;
  }

  &__title {
    @include title;
    margin-bottom: 26px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    gap: 25px;

    @include desktop {
      flex-direction: row;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 22px 2px 22px 0;
    background-color: $bg-fonctionnement-card;
    border-radius: $radius-fonctionnement-card;
    box-shadow: $shadow-fonctionnement-card;

    &-number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      // Position: Afficher numéro à gauche de la card
      position: relative;
      left: -12px;
      color: white;
      background-color: $primary-color;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    &-icon {
      margin-right: 27px;
      color: $couleur-gris-icons;

      &--active {
        color: $primary-color;
      }
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

// Section Restaurants
.restaurants-section {
  background-color: $couleur-background;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 54px 20px;
  margin: 0 auto;
  gap: 26px;
  max-width: 1080px;
  box-sizing: border-box;

  &__title {
    @include title;
    margin: 0;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 7vw;
    }
  }

}

.restaurants-card {
  display: flex;
  flex-direction: column;
  border-radius: $radius-restaurants-card;
  background-color: white;
  box-shadow: $shadow-restaurants-card;

  @include desktop {
    flex: 40%;
  }

  &__image {
    position: relative;
  }

  &__picture {
    display: block;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 175px;
    border-radius: $radius-restaurants-card $radius-restaurants-card 0 0;

    @include desktop {
      object-position: center;
    }

    &--active {
      object-position: 50% 60%;
    }
  }

  &__badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background: $third-color;
    color: $couleur-badge-text;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 9px;
    border-radius: 2px;
    box-shadow: $shadow-sm;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 25px 12px 13px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }

  &__place {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
  }

  &__like {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;

    &-icon {
      width: 22px;
      height: 21px;

      &-fill {
        clip-path: inset(100% 0 0 0);
        transition: clip-path 600ms ease;
      }
    }

    &-checkbox {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
  }
}

.restaurants-card__like-checkbox:checked~.restaurants-card__like-icon .restaurants-card__like-icon-fill {
  clip-path: inset(0 0 0 0);
}