@use 'variables' as *;

@mixin title {
    font-size: 24px;
    font-weight: 700;
}

@mixin button {
    max-width: 218px;
    align-self: center;
    border-radius: $radius-btn;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: $shadow-hero-btn;
    cursor: pointer;
    transition: opacity 400ms ease-out, box-shadow 400ms ease-out;
    background: linear-gradient(to top, $primary-color, $secondary-color);

    &:hover,
    &:focus-visible {
      opacity: 0.85;
      box-shadow: $shadow-hero-btn-transition;
    }

    &:active {
      opacity: 0.85;
      box-shadow: $shadow-hero-btn-transition;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}