// Couleurs
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$third-color : #99E2D0;

// Couleurs typographie
$couleur-gris-subtitle : #353535 ;
$couleur-header-background : #EAEAEA ;
$couleur-gris-icons : #7e7e7e;
$couleur-background : #f3f3f3;

//Box-shadow
$shadow-sm : 0 2px 4px rgba(0, 0, 0, 0.15);
$shadow-md : 0 4px 4px rgba(0, 0, 0, 0.25);
$shadow-fonctionnement-card : 0 4px 15px rgba(0, 0, 0, 0.15);
$shadow-restaurants-card : 0 4px 15px rgba(0, 0, 0, 0.10);

// Radius
$radius-btn : 25px;
$radius-fonctionnement-card : 20px;
$radius-restaurants-card : 15px;

// Cards - fonctionnement
$bg-fonctionnement-card : #f6f6f6;

// Cards - restaurants
$couleur-badge-text : #008766;