// Couleurs
$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;

// Couleurs typographie
$couleur-gris-subtitle : #353535 ;
$couleur-header-background : #EAEAEA ;
$couleur-gris-icons : #7e7e7e;
$couleur-background : #f3f3f3;

